NUXT_SITE_URL=
NUXT_SITE_NAME=

# user | server
NUXT_PUBLIC_DISCORD_KIND=user
NUXT_PUBLIC_DISCORD_USER_ID=
NUXT_PUBLIC_DISCORD_INVITE=

NUXT_PUBLIC_INSTAGRAM_USERNAME=
NUXT_PUBLIC_X_USERNAME=

NUXT_GITHUB_USER_ID=
NUXT_GITHUB_TOKEN=
